body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.image-container {
    position: relative;
    width:80%;
    max-width: 500px;
}


.image-container img {
    width: 100%;
    height: auto;
    border-radius: 55px;
    transition: transform 0.5s ease, border-radius 0.5s ease; 
}
.image-container img:hover {
    transform: scale(1.05); 
    border-radius: 20px; 
}

.image-container h1, .image-container h2, .image-container h4 {
    position: absolute;
    left: 30%;
    color: blue;
    
   
}
.image-container h4 {
    top: 10%;
    font-size: 24px;
}


.image-container h1 {
    top: 20%;
    font-size: 40px;
}


.image-container h2 {
    top: 30%;
    font-size: 40px;
}
.image-container .cake {
width: 70px; 
height: 70px; 
position: absolute; 
top: 50%;
left: 50%; 

animation-name: myCake;
animation-duration: 2s;
animation-fill-mode: forwards;
}

@keyframes myCake {
    0% {
    transform: scale(1);
    border: 5px solid black;
    
    
    }
    100% {
    transform: scale(2); 
    border: 5px solid black;
    
    }
    }
    
    .details{
    position: absolute;
    top: 75%;
    margin-left: 20px;
    color: blue;
    
   }
   .confirm {
    position: absolute;
    top: 75%;  
    right: 30px;  
    color: blue;

}

    
    
